body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.calendar-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
}

#calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#monthYear {
    font-size: 1.5em;
}

button {
    background-color: #cde26d;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #4bdfe4;
}

#calendarDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.day:hover {
    background-color: #ee99ea;
    color: #fff;
    cursor: pointer;
}

.day.empty {
    background-color: transparent;
}
